
{% block body %}
    <h1>Tableau de bord Administrateur</h1>
    <p>Bienvenue sur le tableau de bord Admin.</p>

    <h2>Gestion des entités</h2>
    <ul>
        <li><a href="{{ path('app_category_index') }}">Gestion des Catégories</a></li>
        <li><a href="{{ path('app_product_index') }}">Gestion des Produits</a></li>
        <li><a href="{{ path('app_order_index') }}">Gestion des Commandes</a></li>
    </ul>
{% endblock %}